<template name="uploadform">
  <div class="upload-form">
    <p> place :</p> <input type="text" id="place" name="place"/>
    <br/>
    <p> image :</p> <input class="file" type="file" id="place" name="image"/>
    <br/>
    <p> address :</p> <input type="text" id="address" name="address"/>
    <br/>
    <p> rating :</p> <input type="number" id="rating" name="rating"/>
    <br/>
    <p> website :</p> <input type="url" id="site" name="site"/>
    <br/>
    <p> phone :</p> <input type="number" id="phone" name="phone"/>
    <br/>
    <button class="submit"> submittt </button>
  </div>
</template>
